/********************
YOUR STYLES
*******************/

.container {
  height: 100%;
  width: 100%;
  text-align:center;
}

#tubular-container {
   top: -10px; 
}


h1 {
    z-index: 99;
    font-size: 1.3em;
    height: 1.1em;
    width: 15em;
    color: white;
    font-weight: 100;
    letter-spacing: 7px;
    text-transform: uppercase;
    background: #C9C5CB;
    padding: 5px;
    padding-right: 1em;
    text-align: right;
    border: none;
    
}

div#three {
    width: 4em;
    width: 100%;
    padding-top: 15em;
}


div.name {
    position: fixed;
    top: 52px;
    z-index: 99;
    
}

#pic img {
    width: 5em;
}

@media screen and (min-width: 30em){
    .imagelevel ul {
        display: flex;
        justify-content: center;
    }
    
    #pic img {
        width: 7em;
    }
    
    .onelevel ul {
        display: flex;
        justify-content: center;
    } 
    
    .onelevel li {
        width: 8em;
        text-align: center;
        transition-duration: 0.4s; 
        transition-duration: 0.4s;
    }
    
    .onelevel li:hover {
        background: #C9C5CB;
    }
    
}


#pic ul li {
    letter-spacing: .1em;
    padding: 10px;
    padding-bottom: 2em;
    list-style-type: none;
}


#menu ul li {
    letter-spacing: .1em;
    padding: 10px;
    list-style-type: none;
}


#menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}