/********************
YOUR STYLES
*******************/

.container {
  height: 100%;
  width: 100%;
  text-align:center;
}

#tubular-container {
   top: -10px; 
}


h1 {
    z-index: 99;
    font-size: 1.3em;
    height: 1.1em;
    width: 15em;
    color: white;
    font-weight: 100;
    letter-spacing: 7px;
    text-transform: uppercase;
    background: #C9C5CB;
    padding: 5px;
    padding-right: 1em;
    text-align: right;
    border: none;
    
}
div#name {
    position: fixed;
    top: 52px;
    z-index: 99;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}