/********************
YOUR STYLES
*******************/

article {
    width: 33%;
}

h1 {
    padding: 20px 0 20px 356px;
}

p {
    width: 33%;
    margin: auto;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}